* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

#app {
  min-height: calc(100% - 100px);
}

nav {
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

footer {
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer p {
  color: white;
  font-size: 15px;
  margin-bottom: 0px;
}

.home .hero {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/mountains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.home .hero .info {
  width: 70%;
  text-align: center;
  color: white;
}
.home .hero .info p {
  margin-bottom: 30px;
}
.home .hero .info a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background-color: green;
  border-radius: 15px;
}
.home .bellow {
  padding: 50px;
  background-color: green;
  color: white;
}

.about {
  background-color: green;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.about .profile {
  margin-left: 10%;
  width: 80%;
  height: 200px;
  background-color: black;
  color: white;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.about .profile .pic {
  width: 160px;
  height: 180px;
  background-image: url(../images/natureGuy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 15px;
  margin-right: 15px;
}
.about .profile .info {
  width: 70%;
  margin-right: 10px;
}

.products {
  padding-top: 40px;
  padding-bottom: 20px;
}
.products .line {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
.products .line .item {
  width: 230px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: solid black 2px;
  padding-bottom: 20px;
}
.products .line .item img {
  width: 180px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}
.products .line .item a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background-color: green;
  border-radius: 15px;
}

@media (max-width: 960px) {
  .products .line {
    flex-direction: column;
    margin-bottom: 0px;
  }
  .products .line .item {
    margin-bottom: 40px;
  }
}
.contact {
  padding-top: 20px;
}
.contact .banner {
  margin-left: 10%;
  width: 80%;
  height: 80px;
  background-image: url(../images/trees.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.contact .form {
  margin-left: 10%;
  width: 80%;
}
.contact .form h4 {
  margin-bottom: 5px;
}
.contact .form input {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
}
.contact .form textarea {
  width: 100%;
  height: 200px;
  resize: none;
}
.contact .submission {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}
.contact .submission a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background-color: green;
  border-radius: 15px;
}

/*# sourceMappingURL=styles.css.map */
